@import "../variables";

.footer {
  border-top: 1px solid $gray-line;
  padding: 40px 0;
  &__alphabet {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    li {
      margin: 10px;
      width: 40px;
      height: 40px;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      width: 100%;
      height: 100%;
      &:hover {
        background-color: $orange;
        color: $gray-line;
      }
      &.active {
        background-color: $orange;
        color: $gray-line;
      }
    }
  }
}
