@import "./fonts";
@import "./variables";
@import "./libs/normalize";

@import "./components/all";

body {
  background-color: $background;
  padding: 50px 0;
}

.wrapper {
  width: calc(100vw - 100px);
  height: 100%;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 10px;
  max-width: 1400px;
}

.content {
  min-height: 400px;
  padding: 40px 0;
  position: relative;
  &__title {
    margin: 35px 0;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: -20px;
    &.single-item {
      justify-content: center;
      flex-direction: column;
      align-items: center;
      .content__title {
        text-align: center;
      }
      .coctail-block {
        margin-left: 0;
      }
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__notFound {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

.container {
  width: $container-width;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  .categories ul {
    display: flex;
    flex-wrap: wrap;
    & li {
      margin-bottom: 15px;
    }
  }
}
@media (max-width: 1080px) {
  .content__items {
    margin-left: -80px;
    &.single-item {
      margin-left: 0;
    }
  }
}
@media (max-width: 1000px) {
  .coctail__inner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .coctail-block {
      width: 100%;
    }
  }
}
@media (max-width: 920px) {
}

@media (max-width: 810px) {
  .content__items {
    margin-left: 0;
  }
}

@media (max-width: 650px) {
  body {
    padding: 0;
  }
  .wrapper {
    width: 100%;
  }
  .cart__item {
    justify-content: space-between;
    padding: 0 10px;
  }
  .cart__item-info {
    width: 25%;
  }
  .cart__item-count b {
    font-size: 16px;
  }
  .cart__item-price {
    width: 18%;

    b {
      font-size: 16px;
    }
  }
}
